.container {
  width: 95rem;
  background-color: #fff;

  .containerTopWrap {
    height: 9.7rem;
    border-bottom: solid 1px #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;

    .containerTitle {
      color: #333333;
      font-weight: 500;
      font-size: 3.2rem;
    }

    .containerButton {
      width: 1.85rem;
      color: #000;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
  }
}
