.main {
  margin: 0 auto;
  width: 117rem;
  padding: 3.7rem 0;

  .container {
    color: #333333;
    opacity: 0.7;
    display: flex;
    font-size: 1.4rem;
    .space {
      margin: 0 1rem;
    }

    > a {
      color: #333333;
      opacity: 0.7;
    }
  }

  .wrapper {
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wrapperTitle {
      font-size: 4rem;
      color: #333333;
      font-weight: 500;
    }

    .AddAction {
      display: flex;
      font-weight: 500;
      align-items: center;
      color: #333333;
      font-size: 1.6rem;

      .AddActionImg {
        width: 3rem;
        margin-right: 1.6rem;
      }
    }
  }
}
