.container {
  display: flex;

  .formContainer {
    display: flex;
    width: 42%;
    margin: 0 4%;
    flex-direction: column;
    padding: 3.1rem 0 4.5rem 0;

    .formContainerTitle {
      color: #00b956;
      font-size: 1.9rem;
      font-weight: bold;
    }

    textarea {
      padding-top: 1rem;
    }

    .formGroup {
      display: flex;
      flex-direction: column;

      .formGroupTitle {
        margin-top: 3rem;
        font-size: 1.7rem;
        color: #333333;
        font-weight: 500;
      }

      .formControl {
        width: 100%;
        height: 5.3rem;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
        border: solid 1px #d9d9d9;
        background-color: #fff;
        display: flex;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 1.3rem;
      }

      .formControlEscape {
        margin-top: 1.3rem;
      }

      .formControlEscape > div:first-child {
        // width: 100%;
        // margin-top: 1.3rem;
        // height: 5.3rem;
        // box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
        // border: solid 1px #d9d9d9;
        // background-color: #fff;
      }
    }

    .formContainerAdd {
      margin-top: 3rem;
      font-size: 1.7rem;
      color: #333333;
      font-weight: 500;
    }

    li {
      margin-top: 1rem;
      list-style-type: disc;
      font-size: 1.6rem;
      margin-left: 5rem;
    }
  }
}

.ButtonFormAddAction {
  width: 211px;
  height: 58px;
  border-radius: 200px;
  background-color: #00b956;
  margin: 4.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  transition: 300ms;
}

.ButtonFormAddAction:hover {
  transition: 300ms;
  background-color: #03d765;
}

.formLine {
  border-top: 1px solid #ededed;
}

.errorText {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  color: red;
}
