.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .circle {
    width: 11.8rem;
    height: 11.8rem;
    border-radius: 50%;
    display: flex;
    margin-top: 15rem;
    justify-content: center;
    align-items: center;
    border: solid 2px #00b956;
    img {
      width: 4.8rem;
    }
  }

  .containerTitle {
    margin-top: 3.6rem;
    width: 24.1rem;
    color: #333333;
    line-height: 1.76;
    font-weight: 500;
    font-size: 2.8rem;
    text-align: center;
  }

  .containerButton {
    width: 211px;
    height: 58px;
    border-radius: 200px;
    background-color: #00b956;
    margin: 4.5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
    transition: 300ms;
  }

  .containerButton:hover {
    transition: 300ms;
    background-color: #03d765;
  }
}
