.labelTitle {
  font-size: 1.7rem;
  color: #000;
}

.formDelete {
  // margin: 0.8rem 0;
  font-size: 1.6rem;
  color: #000;
}

.formGroupEscape {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 0.1rem solid #ededed;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
}

.formControlInput {
  width: 48%;
  height: 43px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  padding-left: 1rem;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
}

.errorText {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  color: red;
}
