.labelTitle {
  font-size: 1.7rem;
  color: #000;
}

.formDelete {
  // margin: 0.8rem 0;
  font-size: 1.6rem;
  color: #000;
}

.formGroupEscape {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 0.1rem solid #ededed;
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-between;
}
