.form {
  position: relative;
  height: 7rem;
}

.search {
  height: 100%;
  display: flex;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-left: 3.5rem;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.7rem;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 300ms;
}

.search:hover {
  transition: 300ms;
  background-color: #fff;
}
