$green: #00b956;

.header {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 9.6rem;
  background-color: var(--white);
  padding: 0 5rem;
  justify-content: space-between;

  .logoWrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .headerLogo {
    width: 17.4rem;
  }

  .headerButton {
    width: 21.8rem;
    height: 5.1rem;
    background-color: #00b956;
    border-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    font-size: 1.7rem;
    transition: 300ms;
    cursor: pointer;
    border: 0;

    .headerButtonImg {
      width: 1.5rem;
      height: 1.5rem;
      border: 0;
      transition: 300ms;
      margin-right: 1.28rem;
      fill: #fff;
      color: #fff;
    }
  }

  .headerButton:hover {
    transition: 300ms;
    background-color: #03d765;
    color: #fff;
  }
}
