.container {
  display: flex;
  width: 48%;
  margin: 0 1%;
  padding: 3.3rem 4.6rem;
  border: 8px;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 2.6rem;

  .containerTitle {
    color: #333333;
    font-size: 2.3rem;
    margin-bottom: 4.2rem;
  }

  ul {
    padding: 0;
    margin: 0;
    .containerListUnit {
      list-style-type: none;
      margin-bottom: 2.5rem;
      color: #333333;
      font-size: 1.7rem;
    }
  }
}
