.card {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8rem;
  background-color: var(--white);

  .cardTitleWrapper {
    width: 40%;
  }

  .cardTitle {
    padding: 3.3rem 5.8rem 3.3rem 3.9rem;
    font-size: 2.4rem;
    font-weight: 500;
    color: #333333;
  }

  .cardInfo {
    width: 40%;
    padding-top: 3.8rem;
    .cardInfoUnit {
      font-size: 1.7rem;
      padding-bottom: 1.5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .cardEdit {
    width: 20%;
    display: flex;
    margin: 0.4rem 0.4rem 0.4rem 0;
    background-color: #f7f7f7;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000000;
    line-height: 1.43;
    min-height: 100%;
    cursor: pointer;
    flex-direction: column;
    padding: 1.5rem 0;

    .cardEditImg {
      height: 3rem;
      width: 3rem;
      cursor: pointer;
      margin-bottom: 1.6rem;
    }

    .cardEditText {
      width: 10.7rem;
      cursor: pointer;
      text-align: center;
    }
  }
}
