.container {
  padding: 11.6rem 5rem 2rem 5rem;
  flex: 1;

  .containerTitle {
    color: #333333;
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 4.2rem;
  }

  ul {
    padding: 0;
    margin: 0;
    .containerListUnit {
      list-style-type: none;
      font-size: 1.7rem;
      color: #34aaf2;
      font-weight: 500;
      padding-bottom: 1.8rem;
    }
  }
}
