.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 1.5rem 10rem;
}

.content {
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  right: -24%;
  font-size: 1rem;
  font-weight: 300;
  color: #242b37;
  transform: rotate(-90deg);
  transform-origin: center;

  @media all and (min-width: 767px) {
    font-size: 2.2rem;
  }

  @media all and (min-width: 1200px) {
    font-size: 3.9rem;
  }

  span {
    margin-left: 2rem;

    @media all and (min-width: 767px) {
      margin-left: 6rem;
    }
  }
}

.img {
  width: 25rem;
  height: auto;

  @media all and (min-width: 767px) {
    width: 61.6rem;
    height: auto;
  }

  @media all and (min-width: 1200px) {
    width: 91.6rem;
    height: auto;
  }
}

.linkBack {
  border: none;
  padding: 1rem 3rem;
  margin-top: 8.4rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.9rem;
  background-color: #c61c30;
  cursor: pointer;
  z-index: 1;

  @media all and (min-width: 767px) {
    padding: 1.4rem 4.8rem;
    font-size: 1.6rem;
  }
}

.or {
  position: relative;
  margin: 4.6rem 0 3.6rem 0;
  font-size: 1.2rem;
  font-weight: 300;
  color: #8a8a8a;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    content: '';
    width: 7.4rem;
    height: 0.1rem;
    display: block;
    background-color: #8a8a8a;
  }

  &::before {
    right: 2rem;
  }

  &::after {
    left: 2rem;
  }
}

.linkSearch {
  border: none;
  padding: 0.7rem 1.2rem;
  margin-left: 1.2rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: #c61c30;
  cursor: pointer;

  @media all and (min-width: 767px) {
    padding: 1.1rem 3.6rem;
    font-size: 1.8rem;
    border-radius: 0.9rem;
  }
}

.input {
  padding: 0.7rem 1rem;
  width: 16rem;
  font-size: 1.1rem;
  font-weight: 300;
  border-radius: 0.5rem;
  box-shadow: 0 0.6rem 1.4rem 0 rgba(150, 150, 150, 0.13);
  border: solid 0.1rem rgba(216, 216, 216, 0.96);

  @media all and (min-width: 767px) {
    padding: 1.3rem 1.1rem;
    width: 32rem;
    font-size: 1.5rem;
    border-radius: 0.9rem;
  }
}
