.container {
  width: 117rem;
  margin: 0 auto;

  .escapeWrap {
    width: 100%;
    display: flex;
  }

  .infoContainer {
    background-color: #fff;
    padding-top: 0.9rem;
    display: flex;
    flex-direction: column;
  }

  .userInfo {
    flex: 3;
    background-color: #fafafa;
    border-radius: 8px;
    padding: 0 1%;

    .userInfoEscape {
      display: flex;
    }

    .userInfoTitle {
      font-size: 1.7rem;
      color: #333333;
      margin: 3.7rem 0 2.9rem 1%;
      font-weight: bold;
    }

    .userInfoBlock {
      display: flex;
      width: 48%;
      margin: 0 1%;
    }
  }
}
