@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Bold-Web.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Medium-Web.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular-Web.ttf');
  font-weight: 400;
  font-style: normal;
}
