.add-action {
  position: fixed;
  width: 95rem;
  left: 15%;
  top: 10%;
  background-color: var(--white);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(196, 196, 196, 0.8);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  top: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.ReactModal__Content--after-open {
  top: 5%;
  opacity: 1;
}

.ReactModal__Content--before-close {
  top: 0;
  opacity: 0;
}
