.container {
  width: 73rem;
  margin-left: 5.6rem;

  .containerTitle {
    font-size: 2.3rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #333333;
  }

  .containerDescription {
    font-size: 1.7rem;
    color: #333333;
    margin-top: 3.6rem;
    margin-bottom: 2.6rem;
  }
}
